.board-container {
    display: flex;
    flex-direction: column;
    background-color: #111;
    color: #fff;
    font-family: "Lucida Console", "Courier New", monospace;
}
.board-row {
    display: flex;
    width: 100%;
    background-color: "red";
}
.board-cell {
    display: flex;

    flex: 1 1 0px;
    padding: 2px;
    font-size: 1.55vw;
    border-width: 1px;
    border-color: red;
}
